.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  margin-bottom: 30px;
  margin-top: 30px;
}

.App-logo-spinning {
  animation: App-logo-spin infinite 5s linear;
}

.App-header {
  height: 400px;
}

.App-link {
  color: #61dafb;
}
/* h1.App-link {
  color: #61dafb;
} */
.App-link-selected {
  color: gray;
}

.error {
  color: red;
  font-size: 30px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  padding: 10px;
  margin: 10px;
}
.button1 {
  background-color: yellow;
}

.button2 {
  background-color: #018EE3;
  color: white;
}

.button3 h3 {
  font-size: 13px;
  margin:0
}

p, q, a {
  font-size: 16px
}
 